@import "reeset";

$item-size: 50px;
$main-color: steelblue;

// === General ===

h3 {
  color: $main-color;
  font-size: 30px;
  padding-bottom: 40px;
}

p {
  font-size: 21px;
}

button {
  background-color: $main-color;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  outline: none;
  margin-left: 30px;
  margin-top: 20px;
}

button:hover {
  background-color: darkgrey;
}

a {
  color: black;
  text-decoration: none;
}


// === ROUTES ===
//Route - Welcome
.welcome {
  margin-top: 70px;
}

.welcome .text h3 {
  text-align: center;
}

.welcome .text .line2 {
  text-align: center;
  padding-bottom: 50px;
}

//Route - Play
.validationPage {
  margin-top: 80px;
  text-align: center;
}

.validationPage label {
  font-family: Courier, serif;
  font-size: 21px;
}

.validationPage div {
  margin-top: 20px;
}

.validationPage button {
  margin: 30px 0 0 130px;
}

.validationPage .inputBox {
  margin: 20px 0 0 550px;
  width: 300px;
  height: 45px;
  border-radius: 20px;
}

.validationPage .player-input {
  margin: 2px 0 0 10px;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  border: none;
}

.validationPage .errorMessageLine {
  color: darkred;
  font-size: 12px;
  text-align: center;
  margin: 2px 0 0 120px;
}

.colorValidation {
  margin-top: 80px;
  text-align: center;
}

.colorValidation p {
  margin-left: -450px;
  font-family: Courier, serif;
  font-size: 21px;

}

.colorValidation .wrapper {
  display: grid;
  grid-template-columns: 20fr 20fr;
  padding: 30px 0 30px 300px;
}

.colorValidation .errorMessageLine {
  color: darkred;
  font-size: 12px;
  text-align: center;
  margin: 2px 120px 0 0;
}

.colorValidation .colorTable td {
  //border: 3px solid $main-color;
  padding: 10px 10px 10px 10px;
}

.colorValidation .colorTable div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.gameOverPage {
  margin-top: 180px;
  text-align: center;
  font-family: Courier, serif;
}

.gameOverPage h3 {
  font-size: 80px;
}

.gameOverPage p {
  font-size: 50px;
}

.gameOverPage button {
  margin-top: 80px;
}

.ball-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("/images/repeated-square.png");
}

.score {
  position: absolute;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 21px;
  margin: 10px 0 0 10px;
}

//Route - About
.about {
  text-align: center;
  margin-top: 70px;
}

.about .line2 {
  padding-bottom: 50px;
}


// === COMPONENTS ===
//Component Ball
.ball {
  //width: $item-size;
  //height: $item-size;
  //background-color: gold;
  border-radius: 50%;
  position: absolute;
}

//Component Mushroom
.mushroom {
  height: $item-size;
  width: $item-size;
  border-radius: 50%;
  position: absolute;
}

//Component Header
.head {
  background-color: $main-color;
  height: 90px;
}

.head a {
  text-decoration: none;
  color: whitesmoke;
}

.head span {
  padding-top: 33px;
}

.head a:hover {
  color: lightgrey;
}

.h_welcome {
  position: absolute;
  font-family: Zapfino, serif;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 40px;
}

.h_play {
  position: absolute;
  font-size: 21px;
  margin-left: 370px;
}

.h_about {
  position: absolute;
  font-size: 21px;
  margin-left: 600px;
}

//Component Play-Button
.play_button {
  text-align: center;
  font-size: 20px;
  margin-top: 35px;
}

.play_button a {
  margin-left: -40px;
}

//Component About-Button
.about_button {
  text-align: center;
  font-size: 20px;
  margin-top: 35px;
}

.about_button a {
  margin-left: -40px;
}

//Component Lightning
.lightning {
  position: absolute;
  height: $item-size;
  width: $item-size;
}
