<div {{did-insert this.ballInserted}}
        class="ball"
        style={{concat "transform: translate(" this.left "px, " this.top "px);
        background-color: " this.color ";
        height: " this.ballHeight "px;
        width: " this.ballHeight "px"}}>
</div>