<div class="head">
  <span class="h_welcome">
    <LinkTo @route="index">EmberGame</LinkTo>
  </span>
  <span class="h_play">
    <LinkTo @route="play">Play</LinkTo>
  </span>
  <span class="h_about">
    <LinkTo @route="about">About Us</LinkTo>
  </span>
</div>