<div>
  <img src="https://png2.cleanpng.com/sh/5a5ec46681f14853f1b0ac31bb4584bf/L0KzQYm3U8E4N5Jqj5H0aYP2gLBuTf12e5l3h9H2LXb1dba0gB9vfJZzjJ9sbHnzPbL5lL1ufaRtitH4bT3mccP7jB9vNaFueAZAcnX2PYbogfNkO2g2SKJtYkm2Poi9Vsg2P2E3Sac7MUK6QYe9VcAxO2YziNDw/kisspng-mushroom-free-content-clip-art-mushroom-cartoon-pictures-5aacc37100db93.7668570215212716650035.png"
       alt="img" class="mushroom" style={{getMushroomStyle}}/>
</div>