<div id="mushroom">
  <img src="/images/mushroom.png"
       alt="img" class="mushroom" style={{concat "transform: translate(" this.Coordinates.mushroomX "px, "
                                                 this.Coordinates.mushroomY "px)"}}/>
</div>