<div class="welcome">
  <div class="text">
    <h3>Welcome To Our Game</h3>
    <div class="line2">
      <p>This is a multiplayer ball game.</p>
      <p>In this game all you need to do is to catch the mushrooms.</p>
      <p>Every mushroom gives you 1 point.</p>
      <p>The player who reaches the 5 points, win the game.</p>
    </div>
  </div>

  <PlayButton/>
  <AboutButton/>
</div>