
<div class="ball-container">
  <Ball />
  <Mushroom />
  <Ball @color="blue" @controls={{player2controls}} />
  <p class="score">Player 1: {{this.ballCoordinates.player1Score}} - Player2: {{this.ballCoordinates.player2Score}}</p>
</div>

