<div class="ball-container">
  <Ball @color="orange"/>
  <Mushroom />
  <Ball @color="blue" @controls={{player2controls}} />
  <p class="score">Player1: {{this.Coordinates.player1Score}} - Player2: {{this.Coordinates.player2Score}}</p>
</div>