
<div class="ball-container">
  <Ball  />
  <Mushroom />
<!--  <Ball @color="blue" @controls={{player2controls}} />-->
  <p class="score">Player 1: {{this.player1score}} Player2:{{player2score}}</p>
</div>